button {
  color: aquamarine;
  background-color: brown;
}

.w3-container {
  width : 100vw;
  /* border : 1px solid blue; */
}

.w3-input {
  width : 100%;
  margin : 0.5rem;
}
h3 {
   color: #443963;
  font-weight: normal;
  font-size: 30px;
  font-family: Arial;
  text-transform: lowercase;
}
